.flex-container-row{
    display: flex;
    flex-direction: row;
}

.content-container{
    width:80vw;
    height:100vh;
    background-color: #f2f4fa;
    display: flex;
    justify-content: center;
}

.content-inner-container{
    width:90%;
    height:100%;
}

.content-header-container{
    height:10%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-summary-container{
    height:30%;
    width:100%;
    justify-content: space-between;
}

.content-graph-container{
    height:40%;
    width:100%;
    justify-content: space-between;
}

.content-grid-container{
    height:20%;
    width:100%;
}

.summary-card1{
    width:22%;
}

.summary-card2{
    width:22%;
}

.summary-card3{
    width:22%;
}

.summary-card4{
    width:22%;
}

.graph-card1{
    width:64%;
}

.graph-card2{
    width:34%;
}